@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Courier, monospace
}

body{
    min-height: 100vh;
    background-image: linear-gradient(180deg, rgb(233, 0, 0), rgb(80, 0, 0), rgb(2, 0, 0));
    color: aliceblue;
    min-height: 100vh;
    text-align: center;
    overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}


.cabecalho{
    align-items: center;
    display: flex;
    font-size:0.8rem;
    color: white;
    height: 50px;
    width: 100vw;
    background-image: linear-gradient(180deg, rgb(233, 0, 0), rgb(80, 0, 0), rgb(2, 0, 0));
}

.cabecalho p{
    font-size: 50px;   
    margin-right: 15%;
    margin-left: 5%;
    cursor: pointer;
}

.area-menu{
    display: flex;
    position: fixed;
    height: 70%;
    background-color: #000000;
    width: 80%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;  
    background-image:linear-gradient(180deg, rgb(233, 0, 0), rgb(80, 0, 0), rgb(2, 0, 0));
}
.area-menu.active{
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.options{
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding-top:5%;
    width: 100%;
}
.options a{
   
    border-bottom:2px solid aliceblue;
    padding: 15px 0 ;
    border-radius: 3px;
    color: #fff;
    background-image:linear-gradient(180deg, rgb(233, 0, 0), rgb(80, 0, 0), rgb(91, 11, 11));

}
.insta{
    color: #fff;
    margin-top: 55%;
}
.info{
    padding-bottom: 20px;
    color: aliceblue;

}
main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vh;
}
.card{
    background-image: linear-gradient(180deg, rgb(233, 0, 0), rgb(80, 0, 0), rgb(2, 0, 0));  
     padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 25px 5px #731818;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    width: 80%;

}
.informacao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.btn-iniciar{
    padding-top: 3px;
    font-weight: 600;
    text-align:center;
    margin-top: 15px;
    height: 30px;
    width: 100px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: aliceblue;
    color: brown;
}

.informacao p{
    color:aliceblue

}

footer{
  margin-top: 5%;
  font-weight: 800;
  height: 8%;
  color: #fff;
  justify-content: center;
}
